@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button @onclick="createNew2" class="btn btn-primary">Create</button>
@code {
    void createNew2()
    {
        NavigationManager.NavigateTo("/portfoliotable1s/createNew2");
    }
}
